body 
{
	background-color: #333333;
	color: #515044;
	font-family: sans-serif;
}

.tunecube-container 
{
	transform: translate(-50%, -50%);
	display: flex;
	height: 75vh;
	min-width: 100vw;
	position: absolute;
	left: 50%;
	top: 50%;
}

.music-container
{
	width:75%;
	height:100%;
}
.extras-container
{
  display: flex;
  justify-content: center;
  align-items: center; 
  width:25%;
}

.qrcode-container
{
	border-radius:10px;
	position:relative;
	background-color:#fff;
	min-width:410px;
	min-height:410px;
	box-shadow: 21px 15px 16px -15px rgba(0, 0, 0, 1);
	right:2vw;
}

.qrcode-container img
{
	border-radius:10px;
}
.current-music, .previous-music 
{
	opacity:0.95;
	box-shadow: 21px 15px 16px -15px rgba(0, 0, 0, 1);
	border-radius:10px;
	margin:0 auto;
	padding:1em;

	background-color: #eeeeee;
	margin-top:15vh;
	max-width: 75%;
	min-width: 75%;
	z-index: 3;
	position:relative;
	min-height:18vh;
}
.current-music-text, .previous-music-text
{
	position: absolute;
	top: 0vh;
	left: -5vw;
	transform: rotate(-10deg);
	transform-origin: 0 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 2em;
	
}

.qrcode-text
{
	position: absolute;
	left: -5vw;
	transform: rotate(-10deg);
	transform-origin: 0 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 2em;
}

.previous-music 
{
	margin-top:5vh;
}

.artist-name 
{
	font-size: 1.5em;
	font-weight: 200;
	text-align:center;

}

.song-title 
{
	word-wrap: break-word;
	white-space: normal;
	font-size: 2em;
	text-align:center;
}

.vinyl 
{
	animation: spin 2s linear infinite;
	transition: all 500ms;
	
	background-image: url("vinyl_record.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	height: 100%;
	width: 75%;
	
	position: absolute;

	z-index: 1;

}

@-webkit-keyframes spin 
{
	0% 
	{
		transform: rotate(0deg);
	}
	100% 
	{
		transform: rotate(360deg);
	}
}